###  Prueba de Microsoft para ingresar como Data Analyst.

### 1) Filtering Data Frame Base on Conditions
#### create a dataframe with data and filter de df to show only inployees in IT department weho earn more than 60.000

In [8]:
import pandas as pd
import numpy as np

data = {
    'employee': ['John', 'Jane', 'Jim', 'Jill', 'Jack'],
    'department': ['HR', 'IT', 'Finance', 'IT', 'HR'],
    'salary': [50000, 60000, 70000, 65000, 55000]
}

df=pd.DataFrame(data)

df.head()
df_filtered = df[(df['department'] == 'IT') & (df['salary'] > 60000)]

print(df_filtered)

  employee department  salary
3     Jill         IT   65000

### 2) Renaming columns
#### Create Data Frame with the following data and rename the columns toID, ame and Price.

In [17]:
data2 = {
    'Product_ID': [101, 102, 103],
    'Product_Name': ['Laptop', 'Phone', 'Tablet'],
    'Product_Price': [1000, 800, 600]
}
df2 = pd.DataFrame(data2)
df2.head()

df2.rename(columns=
           {'Product_ID': 'ID',
            'Product_Name': 'Name',
            'Product_Price': 'Price'}, inplace=True)
df2.head()

    ID    Name  Price
0  101  Laptop   1000
1  102   Phone    800
2  103  Tablet    600

### 3) Handing missing Values
#### Create a Data Frame with the following data and fill the missing values in the price column with the average price of the products and drop the rows where the prices column is still missing after filling

In [26]:
data3 = {
    'product': ['Laptop', 'Tablet', 'Phone', 'Monitor', 'Mouse'],
    'price': [1000, 500, None, 150, None],
    'stock': [50, 150, 100, 200, 300]
}
df3 = pd.DataFrame(data3)
df3.head()

average_price = df3['price'].mean(skipna=True)
print(average_price)

df3['price'].fillna(average_price, inplace=True)
df3.head()

df3.dropna(subset=['price'], inplace= True)
print(df3)

550.0
   product   price  stock
0   Laptop  1000.0     50
1   Tablet   500.0    150
2    Phone   550.0    100
3  Monitor   150.0    200
4    Mouse   550.0    300

C:\Users\José Cortés\AppData\Local\Temp\ipykernel_14464\387024797.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3['price'].fillna(average_price, inplace=True)

### 4) creating extra Column
#### Read an Excel file into a pandas data frame. Ad a new Column Called state Base on the values in the city column